In [1]:
import pandas as pd

In [7]:
pinguini = pd.read_csv("./penguins_size.csv")
pinguini.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [25]:
data = {
    "calories" : [420, 380, 390],
    "duration" : [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [21]:
pinguini.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [27]:
pinguini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [16]:
pinguini.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [23]:
pinguini["species"].describe()

count        344
unique         3
top       Adelie
freq         152
Name: species, dtype: object

In [26]:
pinguini_ripuliti = pinguini.dropna()
pinguini_ripuliti.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [30]:
pinguini.to_excel("./pinguini.xlsx", sheet_name="pinguini")

In [31]:
pinguini = pd.read_excel("./pinguini.xlsx", index_col=0)
pinguini.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
4,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
5,Adelie,Torgersen,39.3,20.6,190,3650,MALE

In [34]:
print(f'Massimo: {pinguini["body_mass_g"].max()}')

Massimo: 6300

In [39]:
pinguini["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [51]:
pinguini[["sex","body_mass_g"]].groupby(["sex","body_mass_g"]).max()

Empty DataFrame
Columns: []
Index: [(FEMALE, 2700), (FEMALE, 2850), (FEMALE, 2900), (FEMALE, 2925), (FEMALE, 3000), (FEMALE, 3050), (FEMALE, 3075), (FEMALE, 3100), (FEMALE, 3150), (FEMALE, 3175), (FEMALE, 3200), (FEMALE, 3250), (FEMALE, 3275), (FEMALE, 3300), (FEMALE, 3325), (FEMALE, 3350), (FEMALE, 3400), (FEMALE, 3425), (FEMALE, 3450), (FEMALE, 3475), (FEMALE, 3500), (FEMALE, 3525), (FEMALE, 3550), (FEMALE, 3575), (FEMALE, 3600), (FEMALE, 3625), (FEMALE, 3650), (FEMALE, 3675), (FEMALE, 3700), (FEMALE, 3725), (FEMALE, 3750), (FEMALE, 3775), (FEMALE, 3800), (FEMALE, 3825), (FEMALE, 3850), (FEMALE, 3900), (FEMALE, 3950), (FEMALE, 4150), (FEMALE, 4200), (FEMALE, 4300), (FEMALE, 4350), (FEMALE, 4375), (FEMALE, 4400), (FEMALE, 4450), (FEMALE, 4500), (FEMALE, 4550), (FEMALE, 4575), (FEMALE, 4600), (FEMALE, 4625), (FEMALE, 4650), (FEMALE, 4700), (FEMALE, 4725), (FEMALE, 4750), (FEMALE, 4800), (FEMALE, 4850), (FEMALE, 4875), (FEMALE, 4900), (FEMALE, 4925), (FEMALE, 4950), (FEMALE, 4975), (FEMALE, 5000), (FEMALE, 5050), (FEMALE, 5100), (FEMALE, 5150), (FEMALE, 5200), (MALE, 3250), (MALE, 3300), (MALE, 3325), (MALE, 3400), (MALE, 3425), (MALE, 3450), (MALE, 3475), (MALE, 3500), (MALE, 3550), (MALE, 3600), (MALE, 3650), (MALE, 3700), (MALE, 3725), (MALE, 3750), (MALE, 3775), (MALE, 3800), (MALE, 3875), (MALE, 3900), (MALE, 3950), (MALE, 3975), (MALE, 4000), (MALE, 4050), (MALE, 4075), (MALE, 4100), (MALE, 4150), (MALE, 4200), (MALE, 4250), (MALE, 4275), (MALE, 4300), (MALE, 4350), (MALE, 4400), (MALE, 4450), (MALE, 4475), (MALE, 4500), (MALE, 4550), ...]

[131 rows x 0 columns]

In [52]:
pinguini[["sex","body_mass_g"]].value_counts()

sex     body_mass_g
FEMALE  3700           8
MALE    3900           8
        3950           8
FEMALE  3400           7
MALE    3800           7
                      ..
FEMALE  5100           1
        5050           1
        4975           1
        4925           1
MALE    6300           1
Length: 131, dtype: int64